@font-face { font-family: 'honey_bold'; src: url("../fonts/honeybold/honeyscript-semibold-webfont.eot"); src: url("../fonts/honeybold/honeyscript-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/honeybold/honeyscript-semibold-webfont.woff2") format("woff2"), url("../fonts/honeybold/honeyscript-semibold-webfont.woff") format("woff"), url("../fonts/honeybold/honeyscript-semibold-webfont.ttf") format("truetype"), url("../fonts/honeybold/honeyscript-semibold-webfont.svg#honey_scriptsemibold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'honey_light'; src: url("../fonts/honeylight/honeyscript-light-webfont.eot"); src: url("../fonts/honeylight/honeyscript-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/honeylight/honeyscript-light-webfont.woff2") format("woff2"), url("../fonts/honeylight/honeyscript-light-webfont.woff") format("woff"), url("../fonts/honeylight/honeyscript-light-webfont.ttf") format("truetype"), url("../fonts/honeylight/honeyscript-light-webfont.svg#honey_scriptlight") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'genevaregular'; src: url("../fonts/geneva/geneva_0-webfont.eot"); src: url("../fonts/geneva/geneva_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geneva/geneva_0-webfont.woff2") format("woff2"), url("../fonts/geneva/geneva_0-webfont.woff") format("woff"), url("../fonts/geneva/geneva_0-webfont.ttf") format("truetype"), url("../fonts/geneva/geneva_0-webfont.svg#genevaregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'genevabold'; src: url("../fonts/genovabold/ufonts.com_geneva-bold-webfont.eot"); src: url("../fonts/genevabold/ufonts.com_geneva-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genovabold/ufonts.com_geneva-bold-webfont.woff2") format("woff2"), url("../fonts/genovabold/ufonts.com_geneva-bold-webfont.woff") format("woff"), url("../fonts/genovabold/ufonts.com_geneva-bold-webfont.ttf") format("truetype"), url("../fonts/genovabold/ufonts.com_geneva-bold-webfont.svg#genevabold") format("svg"); font-weight: normal; font-style: normal; }
.arluimg { background-image: url("img/arlu.jpg"); background-repeat: no-repeat; height: 250px; -webkit-border-radius: 125px; -moz-border-radius: 125px; -o-border-radius: 125px; border-radius: 125px; background-size: 155%; width: 250px; background-clip: padding-box; background-position: -62px 0px; margin-bottom: 4%; }

.Abouttext { margin-left: 15%; font-family: "genevaregular"; }

@media (min-width: 900px) and (max-width: 1000px) { .arluimg { margin-left: 28%; }
  .Abouttext { margin-left: 0%; } }
@media (min-width: 701px) and (max-width: 899px) { .arluimg { margin-left: 34%; }
  .Abouttext { margin-left: 0%; } }
@media (min-width: 500px) and (max-width: 700px) { .arluimg { margin-left: 26%; }
  .Abouttext { margin-left: 0%; } }
@media (min-width: 375px) and (max-width: 499px) { .Abouttext { margin-left: 4%; }
  .arluimg { margin-left: 16%; } }
@media (min-width: 360px) and (max-width: 374px) { .arluimg { margin-left: 20%; }
  .Abouttext { margin-left: 0%; } }
@media (min-width: 320px) and (max-width: 359px) { .arluimg { margin-left: 13%; }
  .Abouttext { margin-left: 6%; } }
ul.social-links { list-style: none; }
ul.social-links a { display: block; float: left; width: 40px; height: 38px; text-indent: -999px; cursor: pointer; }

.behance { background-image: url("img/behance.png"); background-size: 100%; background-repeat: no-repeat; }

.flickr { background-image: url("img/flickr.png"); background-size: 100%; background-repeat: no-repeat; }

.insta { background-image: url("img/insta.png"); background-size: 100%; background-repeat: no-repeat; }

#bandlogo { background-image: url("img/logo.png"); cursor: pointer; background-repeat: no-repeat; background-size: 89%; width: 206px; height: 87px; background-position: 29% 0px; }

.navbar-default { background-color: inherit; border: 0; margin-top: 5%; font-family: "genevabold"; }
.navbar-default .navbar-nav li a:not(.social) { color: #000; padding: 10px 7px; }
.navbar-default .navbar-nav li a:not(.social):after { content: "\00a0 \00a0   |"; }
.navbar-default .navbar-nav li a:not(.social):hover { color: #EC6EA6; background-color: #fff; }
.navbar-default .navbar-nav li a:not(.social).dropdown-toggle { background-color: #fff !important; }
.navbar-default .navbar-nav li.active a { color: #EC6EA6; background: #fff; }
.navbar-default .navbar-nav li.active a:hover { background: #fff; }
.navbar-default .navbar-nav li:last-child a:after { content: ""; }
.navbar-default .navbar-nav li .open a { background-color: #fff; }

.navbar-nav { margin-left: 5%; margin-top: 4%; }

.navbar-header { margin-left: 22% !important; }

.container { padding-top: 3%; margin-bottom: 7%; }

.redes { margin-right: 10%; }

.redesmovil { margin-bottom: 4%; }

footer { border-top: 1px solid #000; margin-bottom: 3%; font-family: "genevaregular"; }

@media (min-width: 951px) and (max-width: 1000px) { .navbar-header { margin-left: 40% !important; }
  .navbar-nav { margin-left: 23%; } }
@media (min-width: 768px) and (max-width: 950px) { #bandlogo { background-size: 56%; width: 326px; height: 87px; background-position: 135px 0px; }
  .navbar-nav { margin-left: 18%; } }
@media (min-width: 681px) and (max-width: 767px) { #bandlogo { background-size: 65%; width: 269px; height: 87px; background-position: 109px 0px; } }
@media (min-width: 500px) and (max-width: 678px) { .contentred { margin-left: 31%; } }
@media (min-width: 500px) and (max-width: 680px) { #bandlogo { background-size: 81%; width: 230px; height: 87px; background-position: 54px 0px; }
  .contentred { margin-left: 31%; } }
@media (min-width: 440px) and (max-width: 499px) { #bandlogo { background-position: 32px 0px; }
  .contentred { margin-left: 25%; } }
@media (min-width: 360px) and (max-width: 439px) { .contentred { margin-left: 18%; } }
@media (min-width: 360px) and (max-width: 765px) { .navbar-default .navbar-nav li a:after { content: ""; } }
@media (min-width: 320px) and (max-width: 359px) { .contentred { margin-left: 19%; } }

/*# sourceMappingURL=arlus.css.map */
