#menu{
	background-color:#BDBDBD;
	

	
}
 a.navbar-brand{
	background-color:#FFCDD2;
	&:hover{background-color:#F06292 !important; color:black;}
}	

.navbar-default .navbar-nav{
	
	li {
		&:hover{background-color:#FFCDD2;}
		a{color:#fff;}	
		
	}
	li.active{background-color:#FFCDD2;}

	open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
	{
		background-color:#BDBDBD !important;
	}

	.open
	{
		a{
			background-color: #e7e7e7;
			&:hover{
					background-color: #FFCDD2;
			}//hover
		}/* a*/	
		ul li a:hover{background-color: #FFCDD2;}	
	}//open
}

.dropdown-menu {
    background-color: #e7e7e7;
}