//fuentes
@font-face {
    font-family: 'honey_bold';
    src: url('../fonts/honeybold/honeyscript-semibold-webfont.eot');
    src: url('../fonts/honeybold/honeyscript-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeybold/honeyscript-semibold-webfont.woff2') format('woff2'),
         url('../fonts/honeybold/honeyscript-semibold-webfont.woff') format('woff'),
         url('../fonts/honeybold/honeyscript-semibold-webfont.ttf') format('truetype'),
         url('../fonts/honeybold/honeyscript-semibold-webfont.svg#honey_scriptsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'honey_light';
    src: url('../fonts/honeylight/honeyscript-light-webfont.eot');
    src: url('../fonts/honeylight/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeylight/honeyscript-light-webfont.woff2') format('woff2'),
         url('../fonts/honeylight/honeyscript-light-webfont.woff') format('woff'),
         url('../fonts/honeylight/honeyscript-light-webfont.ttf') format('truetype'),
         url('../fonts/honeylight/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'genevaregular';
    src: url('../fonts/geneva/geneva_0-webfont.eot');
    src: url('../fonts/geneva/geneva_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geneva/geneva_0-webfont.woff2') format('woff2'),
         url('../fonts/geneva/geneva_0-webfont.woff') format('woff'),
         url('../fonts/geneva/geneva_0-webfont.ttf') format('truetype'),
         url('../fonts/geneva/geneva_0-webfont.svg#genevaregular') format('svg');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'genevabold';
    src: url('../fonts/genovabold/ufonts.com_geneva-bold-webfont.eot');
    src: url('../fonts/genevabold/ufonts.com_geneva-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genovabold/ufonts.com_geneva-bold-webfont.woff2') format('woff2'),
         url('../fonts/genovabold/ufonts.com_geneva-bold-webfont.woff') format('woff'),
         url('../fonts/genovabold/ufonts.com_geneva-bold-webfont.ttf') format('truetype'),
         url('../fonts/genovabold/ufonts.com_geneva-bold-webfont.svg#genevabold') format('svg');
    font-weight: normal;
    font-style: normal;

}